<!-- Header -->
<%= render "shared/front/header" %>
<!-- /Header -->

<!-- Owl Carousel 1 -->
<%= render "shared/front/carousel" %>
<!-- /Owl Carousel 1 -->

<!-- SECTION -->
<%= render "shared/front/trending_post" %>
<!-- /SECTION -->

<!-- SECTION -->
<%= render "shared/front/news" %>
<!-- /SECTION -->

<!-- AD SECTION -->
<div class="visible-lg visible-md">
    <img class="center-block" src="<%= image_path('front/ad-3.jpg') %>" alt="">
</div>
<!-- /AD SECTION -->

<!-- SECTION -->
<%= render "shared/front/popular_video" %>
<!-- /SECTION -->

<!-- SECTION -->
<%= render "shared/front/popular_post" %>
<!-- /SECTION -->

<!-- FOOTER -->
<%= render "shared/front/footer" %>
<!-- /FOOTER -->

<!-- Back to top -->
<div id="back-to-top"></div>
<!-- Back to top -->