<%= javascript_pack_tag 'components/core/articles', defer: true %>
<style>
    article-form {
        margin: 0;
    }
    .component_container {
        padding: 0;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 component_container">
        <% if _id == nil then %>
        <article-form actionUrl="/admin/articles" formAuthenticityToken="<%= form_authenticity_token.to_s %>"></article-form>
        <% else %>
        <article-form actionUrl="/admin/articles" objectId="<%= _id %>" copy="<%= _copy %>" formAuthenticityToken="<%= form_authenticity_token.to_s %>"></article-form>
        <% end %>
    </div>
</div>