<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1"/>
    <title>Markazuna | </title>

    <!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CLato:300,400" rel="stylesheet">

    <!-- ApplicationCSS -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    
    <!-- Bootstrap -->
    <%= stylesheet_link_tag 'front/bootstrap.min' %>

    <!-- Owl Carousel -->
    <%= stylesheet_link_tag 'front/owl.carousel' %>
    <%= stylesheet_link_tag 'front/owl.theme.default' %>

    <!-- Font Awesome Icon -->
    <%= stylesheet_link_tag 'front/font-awesome.min' %>

    <!-- Custom stlylesheet -->
    <%= stylesheet_link_tag 'front/style' %>

    <!-- ApplicationJS -->
    <%= javascript_pack_tag 'application' %>

    <!-- webcomponents.js (v1 spec polyfills) -->
    <script src="/custom-elements-es5-adapter.js"></script>

    <%= csrf_meta_tags %>
</head>
<body>
	<!-- Header -->
	<%= render "shared/front/header" %>
	<!-- /Header -->

	<!-- SECTION -->
	<%= render "shared/front/show_article" %>
	<!-- /SECTION -->

	<!-- AD SECTION -->
	<div class="visible-lg visible-md">
		<img class="center-block" src="<%= image_path('front/ad-3.jpg') %>" alt="">
	</div>
	<!-- /AD SECTION -->

	<!-- SECTION -->
	<%= render "shared/front/related_post" %>
	<!-- /SECTION -->

	<!-- FOOTER -->
	<%= render "shared/front/footer" %>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->
    <%= javascript_include_tag 'front/jquery.min' %>
    <%= javascript_include_tag 'front/bootstrap.min' %>
    <%= javascript_include_tag 'front/owl.carousel.min' %>
    <%= javascript_include_tag 'front/main' %>
</body>
</html>